
iframe {
    pointer-events: none;
}

.App{
    width: 100%;
    background: #DADADA;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
    

    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Scheherazade New', serif;
    */
}
h3, p {
    margin:0
}

h1,h2,h3,h4,h5{
    font-weight: bold;
}

.downloads{
    padding: 1rem 3rem 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}

.download-link{
    transition: all 0.3s ease-in-out;
    padding:1rem;
    background-color: #cacacf;
    color:#1B1F41;
    margin: 0 1rem 1rem 0;
    border-radius: 2px;
    border:#1B1F41 1px solid;
}

.download-link:hover{
    background-color:#808cfc;
}


.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.projects-column{
    flex:20;
    min-width: 400px;
}


.project{
    width:100%;
    margin: 2rem 0;
    background: "white";
    border-radius: 2px;

    border: #1B1F41 1px solid;
    box-shadow: 1px 12px 54px -8px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 12px 54px -8px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 12px 54px -8px rgba(0,0,0,0.61);
    transition: all 0.3s ease-in-out;
}

.projects-column img{
    width:100%;
    margin:0;
    border-bottom: #1B1F41 1px solid;
}

.project:hover {
    transform: scale(1.01);
}

.project h3{
    font-size: 2rem;
}

.project-text{
    padding:1rem;
}

.project-text p{
    padding-bottom: 1rem;
}

/* EXP LIST */
#exp-section .content{
    width: 100%;
    display: flex;
}

.exp-list-container{
    overflow-x:auto;
}
.exp-list{
    border-spacing:0;
    overflow-x:auto;
    background:#DADADA;
    overflow: hidden;
    transition: all 0.1s ease;
}
.exp-list tr{
    transition: all 0.4s ease;
    border-bottom: 2px solid #1B1F41;
    transition: all 0.1s ease;
    cursor: pointer;
}
.exp-list td {
    padding: 0.5rem 1.5rem;
    vertical-align: top;
    overflow: hidden;
}
.exp-list-item h3{
    font-size: 1.2rem;
}
.exp-list-item .year .first-year{
    margin-bottom:0.5rem;
}
.exp-list tr:hover .content-td, .exp-list tr:hover .last-cell{
    background-color: #cacacf;
}
.exp-list tr:hover h3{
    text-decoration: underline;
}

.exp-list-item .split{
    display:flex;
    justify-content: space-between;
}

.exp-list-item .item-icon{
    width:2rem;
    font-size: 3rem;
    border-right: 2px solid #1B1F41;
}

.exp-list-item .show{
    border-bottom: 2px solid #1B1F41;
}

.exp-list-item .hide .content{
    max-height:0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    
}

.exp-list-item .show .content{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    max-height:20rem;
    height:auto;
    padding-bottom:1rem;
}

hr{
    border:1px #1B1F41 solid;
    margin:0;
}
.wrapper{
    width:100%;
    max-width:1200px;
    margin:auto;
}

nav{
    position:fixed;
    width: 100%;
    z-index: 2;
    padding-top: 1rem;
    font-size:1.2rem;
}
nav .wrapper{
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    background-color: rgb(27, 31, 65, 0);
    border: none;
}
nav a{
    padding:1rem;
    transition: all 0.3s ease-in-out;
    width: 15%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

nav a{
    color:#808cfc;
    font-weight: 600;
}

nav .bg-show{
    background-color: rgb(27, 31, 65, 1);
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.63); 
    box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.63);
}

.my-name{
    color:white;
}

nav a:hover{
    color:#DADADA;
}

.cursor{
    font-weight: 100;
}

.blink{
    animation: blinkAnim 2s ease-in-out infinite;
}

@keyframes blinkAnim {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

@keyframes transitionAppear {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
  }


.wave{
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  animation-delay: 2s;        /* Change to speed up or slow down */
  animation-iteration-count: 2;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

.section-1 {
    background: rgb(27,31,65);
    background: linear-gradient(58deg, rgba(27,31,65,1) 45%, rgba(12,78,93,1) 100%);

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height:30rem;
    padding-top:2rem;
    overflow: hidden;

    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;   
}
.section-1 .content{
    width:100%;
    max-width: 1200px;
    margin:auto;
    display: table;
}

#footer{
    background-color: #1B1F41;
    color: #808cfc;
}

#footer-section{
    color: #808cfc;
    padding-top: rem;
    padding-bottom: 5rem;
}

#me{
    max-height: 600px;
    height: 100%;
    width:auto;
    display: flex;
}

#small-me{
    max-height: 200px;
    height: fit-content;
    border-radius: 30px;
    display:none;
    padding:1rem;
    box-shadow: black;
}

.section-1 .text{
    width: 70%;
    min-width: 200px;
    color: #F5F5F5;
    vertical-align: middle;
    display: table-cell;
    padding: 0 5rem;
}

.section-1 .text div{
    display:table;
    justify-content: space-around;
}

.section-1 .text h1{
    width:100%;
    font-size: 4rem;
    /* animation: 1s ease-out 0s 1 transitionAppear; */
    padding: 0 0 2rem 0;
    vertical-align: middle;
        display:table-cell;
}
.section-1 .text p{
    width:100%;
    /* animation: 1s ease-out 0s 1 transitionAppear; */
    padding: 0 0 2rem 0;
    font-size: 1.3rem;
}

.section{
    transition: all 0.5s;
    color: #1B1F41;
    padding:  4rem 3rem 0rem;
}

.text-card-container-parent{
    width:fit-content;
    margin:auto;
    width:100%;
}

.text-card-container {
    width:100%;
    display:flex;
    justify-content:left;
    flex-wrap: wrap;
    align-items: center;
    margin:0;
}

.text-card{
    margin:0.5rem;
    min-width: 5rem;
    max-width:13rem;
    min-height: 3rem;
    padding:1rem;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: all 0.1s ease;
    background: linear-gradient(20deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.3) 100%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.programming-card{
    background: rgb(226,68,68);
}

.webb-card{
    background: rgb(27,31,65);
}

.education-card{
    background: rgb(0,101,39);
}
.skill-card{
    background: purple;
}

.text-card:hover{
    margin:0.3rem;
    padding:1.2rem;
}

.text-card h3, .text-card p{
    color:white;
    margin:0;
    padding: 0 0 0 0;
}
.text-card h3{
    font-size:1rem;
}
.text-card p{
    font-size:1rem;
}

.section-3 .text{
    width:100%;
    min-width: 400px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*BANNERS*/
/* .banner-cards-container{
    max-height:400px;
    margin:4rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: display 5s ease-in-out;
    transition: padding 0.1s ease-in-out, margin 0.1s ease-in-out, width 0.5s ease-in-out;
}

.banner-card-outer{
    position: relative;
    height:22rem;
    transition: padding 0.1s ease-in-out, margin 0.1s ease-in-out, width 0.5s ease-in-out;
    margin:0.5rem;
    border-radius: 20px;
    width:20%;
}


.banner-card{
    
    position: relative;
    height:22rem;
    transition: padding 0.1s ease-in-out, margin 0.1s ease-in-out, width 0.5s ease-in-out;
    margin:0.5rem;
    background:black;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    background-size: contain;
    background-size: cover;
    background-position: center center;
}

.banner-card:hover{
    margin:0;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}

.banner-card-hidden{
    width:0;
}
.banner-card-hidden div{
    display:none;
}

.container-none{
    display:none;
    width:0;
}

.chosen-banner-card{
    display:flex;
    width:100%;
    background: none;
}

.chosen-banner-card img{
    max-height:400px;
}

.banner-card-outer .text{
    padding:1rem;
    color: white;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: left;
    margin:0.5rem;
}
.banner-card .text h3, .banner-card .text p{
    padding-left:1rem; 
} */


@media (max-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .section-1 .text h1{
        padding:0;
        font-size: 7vw;
    }
    nav{
        padding-top: 0;
    }
    
    .wrapper{
        width:90%;
    }
    nav .wrapper{
        width: 100%;
        padding:1rem;
        display: block;
        border-radius: 0;
        margin:0;
    }
    
    nav .nav-button{
        display:none;
    }
    .section, .downloads{
        padding-left:0.5rem;
        padding-right:0.5rem;
    }

    #exp-section .content{
        
        flex-wrap: wrap;
    }

    .exp-list{
        margin-top:2rem;
        min-width:100%;
        width: 100%;
    }

    .exp-list td {
        padding: 0.5rem 1rem;
        vertical-align: top;
    }
    .exp-list-item h3{
        font-size: 1rem;
    }

    .exp-list-item .item-icon{
        width:1.2rem;
        padding:0.5rem;
        font-size: 1.2rem;
        border-right: 2px solid #1B1F41;
    }

    .section-1{
        min-height:20rem;
    }
    .section-1 .text p{
        font-size: 1rem;
        padding:0;
    }

    #me{
        display:none;
    }
    #small-me{
        display:flex;
    }
    .section-1 .text{
        width:100%;
        padding: 0 3rem;
    }

    .text-card-container {
        width:100%;
    }

    .section-3 .text{
        width:100%;
        min-width:0;
    }

    .projects-column{
        width: 100%;
        min-width: 100%;
        padding:0rem 0;
    }

    .project{
        margin: 1rem 0;
    }
}
@media (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
    #small-me{
        max-height: 100px;
        display:flex;
    }
    
}